/********************************* Start Documentation ****************************************
* @File      : feedback.css
* @Author    : AbdAlla AboElMagd
* @Brief     : This Page shows Image Gallery as What I can Do
*********************************** End Documentation ****************************************/
@import url("https://fonts.cdnfonts.com/css/lucida-unicode-calligraphy");

body {
  font-family: "Lucida Unicode Calligraphy", "Lucida Sans",
    "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva,
    Verdana, sans-serif;
  margin: 0;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
}
p {
  font-size: 40px;
  font-weight: bold;
}

#fb0 {
  width: 85vw;
  height: 60vh;
  border-radius: 10px;
  margin: 10px;
}

.buttonStyle {
  width: 50%;
  height: 6vh;
  font-size: 30px;
  border-radius: 10px;
  background-color: #0c0f0a;
  color: #e8e8e8;
  padding: 5px;
}

.buttonStyle:hover {
  background-color: #800020;
}

/*********************************Start Log*******************************************************************
    User               Date                Brief
**************************************************************************************************************
Abd-Alla AboElMagd    06Dec2024           Finishing the Page Design for the feedback.html with its main content
***************************************************************************************************************/
